<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <table class="table">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col">Created On</th>
            <th scope="col">Started On</th>
            <th scope="col">Completed On</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Task</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="task_title">Title</label>
                            <input id="task_title" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="task_description">Description</label>
                            <textarea id="task_description" class="form-control" rows="3" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="priority_select">Priority</label>
                            <select id="priority_select" class="form-select" aria-label="Please select a priority level">
                                <option selected>Please select a priority level</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                            </select>
                        </div>
                        <div class="form-check">
                            <input id="started_checkbox" class="form-check-input" type="checkbox" value=""/>
                            <label for="started_checkbox" class="form-check-label">Started</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Add Task</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <button id="add_task" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Create New Task
    </button>
</body>
</html>